/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

div#action_on_questions{
	width: 100%;
}
.err-msg{
	color: red;
	font-size: 10px;
}
p.no_question{
	width: 30%;
    margin: auto;
}
.pagination span.previous_page, .pagination em.current, .pagination a, .pagination a.next_page,span.next_page{
	margin-left: 0;
	border-top-left-radius: .25rem;
	border-bottom-left-radius: .25rem;
	position: relative;
	display: block;
	padding: .5rem .75rem;
	margin-left: -1px;
	line-height: 1.25;
	color: #007bff;
	background-color: #fff;
	border: 1px solid #dee2e6;
}
.pagination em.current{
  background: #f1e9e9 !important;
}

#loading {
	width: 100%;
  top: 0;
  left: 0;
  right: 0;
  height: 100%;
  position: fixed;
  z-index: 999999999 !important;
  background: url(/assets/loader.gif) no-repeat center center rgba(0,0,0,0.25);  
}
.p-t-5{
	padding-top: 5px;
}